.header{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 999;
    .menu{
        width: 100%;
        height: 100%;
        background-color: #88FE02;
        backdrop-filter: blur(50px);
        color: #000000;
        border-radius: 25px;
        position: relative;
    }
}