@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'AquireBold';
  src: url('./assets/fonts/AquireBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

/* Add this to your CSS file */
.box-shadow-custom {
  box-shadow: 0 4px 10px rgba(175, 172, 172, 0.25);
}

.text-stroke{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
}

.transition-image {
  transition: opacity 0.9s ease-in-out;
  opacity: 1;
}

.change-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}